@import "tailwindcss";

/* Menyembunyikan banner dan elemen pop-up bawaan Google Translate */
.goog-te-banner-frame, 
.goog-tooltip, 
.skiptranslate,
#goog-gt-tt {
  display: none !important;
}

body {
  top: 0px !important;
  position: static !important;
}